.hover-icon-container
  position: relative
  display: inline-block;
  .hover-icon
    transition: .1s ease
    backface-visibility: hidden
  &:hover .hover-icon
    opacity: 0
  &:hover .middle
    opacity: 1
  .middle
    transition: .1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
