.mainmenu
  .sidebarContainer
    .ui.borderless.menu
      margin: 0
      border: none
      border-radius: 0
      box-shadow: none
    border-right: 1px solid #D6D6D6

    .ui.list.touchlist .touchlist-item
      .playlist-controls
        display: none
        .ui.buttons .ui.button
          padding-left: 7px
          padding-right: 7px
          margin: -3px 0
      &:hover
        .playlist-controls
          display: block
      &.selected
        background-color: rgba(0,0,0,.06)
        .playlist-controls
          display: block
      // show controls on first selected item only
      // super slick trick: https://stackoverflow.com/a/8539107/10840
      &.selected ~ .selected
        .playlist-controls
          display: none

  .ui.attached.borderless.menu
    border: none
    box-shadow: 0 0 4px #bbb
  .ui.selection.dropdown
    border: none
    .menu
      max-height: none
  .messages
    position: fixed
    top: 3.7em
    margin: 0.5em
    width: calc(100% - 1em)
    z-index: 10
  .mainview.ui.grid
    /* HACK adjust to thicker top menu - Semantic UI bug? */
    margin: 0
    padding-top: 3.4em !important
