.player
  .icon-repeat-one
    width: .85em
    height: .85em
    line-height: .8em
    .fa-stack-2x
      font-size: 1em
      line-height: .8em
    .fa-stack-1x
      font-size: .5em
  .icon-shuffle-album
    width: .8em
    height: .6em
    line-height: .5em
    .fa-stack-2x
      font-size: 1em
      line-height: .5em
    .fa-stack-1x
      font-size: .5em
