.playlist.ui.selection.list.list>.item:hover,
.playlist.ui.selection.list>.item:hover {
  background-color: inherit;
}

.playlist.ui.selection.list.list>.item.selected,
.playlist.ui.selection.list>.item.selected {
  background: rgba(0,0,0,.03);
  color: rgba(0,0,0,.8);
}

.playlist .listitem .content .length {
  float: right;
}