.playlist.ui.list>.item,
.playlist.ui.list.list>.item
  .content.floated.right
    margin-left: 0.5em
  .description.title
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.gap-left
  margin-left: 0.5em

.gap-right
  margin-right: 0.5em
