.playlist.ui.selection.list>.item,
.playlist.ui.selection.list.list>.item
  &:hover
    background-color: inherit;
  &.selected
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.8);
  &.active:hover,
  &.selected.active
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
