.ui.list.touchlist>.touchlist-item,
.menu .item .ui.list.touchlist>.touchlist-item
  border-radius: 3px
  margin-left: -3px
  margin-right -3px
  padding-left: 3px
  padding-right: 3px
  &:hover
    background-color: inherit
  &.selected
    background: rgba(0,0,0,.06)
    color: rgba(0,0,0,.8)
  &.active:hover,
  &.selected.active
    background: rgba(0,0,0,.06)
    color: rgba(0,0,0,.95)
  &.dropBefore
    box-shadow: inset 0 4px 3px -5px black
  &.dropAfter
    box-shadow: inset 0 -4px 3px -5px black
  .drag-handle
    touch-action: none

.touchlist.loading>.loader
  position: sticky
  z-index: 100
